<a href="https://colab.research.google.com/github/metamorphic-rock/Time_series_Forecasting_UsingFacebookProphet/blob/main/FB_Prophet_Manila.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Model Without Feature Selection**

## Importing Dependencies

In [ ]:
import pandas as pd
from prophet import Prophet
from prophet.plot import plot_plotly, plot_components_plotly
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.metrics import mean_squared_error
color_pal = sns.color_palette()
plt.style.use('fivethirtyeight')

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

creating a dataframe from the swg csv file

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/SWG data/Manila Data.csv')
df = df.set_index('Year')
df.index = pd.to_datetime(df.index)

In [ ]:
df

In [ ]:
df.info()

In [ ]:
df.columns

In [ ]:
df = df.rename(columns={'Year index': 'ds', 'SWG ': 'y'})

In [ ]:
df['ds']=pd.to_datetime(df['ds']) #converting the 'ds' column into datetime format

In [ ]:
df.plot(x='ds',y='y',figsize=(18,6))
plt.show()

## Splitting the data

In [ ]:
train = df.loc[df.index < '2020'] #All Data before 2020 will be used as the train dataset
test = df.loc[df.index >= '2020']

In [ ]:
train

In [ ]:
test

,ds,y,Population,Birth rate,Death rate,Number of Marriages,Population Density,Average Age,Sex ratio,GDP,...,Labor Force Participation,Underemployment Rate,Average rainfall,Maximum temperature,Minimum temperature,Average Relative Humidity,Number of tropical cyclones,Average price of Gasoline,Average price of Diesel,Average price of Kerosene
Year,,,,,,,,,,,,,,,,,,,,,
2020-12-31,2020-12-31,2913041.58,1846513.0,48208,12808,6070,47590.54,29.39,49.67,5.797058e+09,...,59.5,7.4,146.06,34.3,23.6,70.25,22,48.25,35.12,37.59
2021-12-31,2021-12-31,2963183.15,1853249.0,22454,15718,7899,47764.15,29.39,49.67,6.157785e+09,...,59.5,7.4,176.15,35.2,23.8,71.91,15,54.34,42.89,47.60

## Creating and training the model

In [ ]:

ProphetModel=Prophet()
def AddFeatures(df):
  for i in df.columns:
    ProphetModel.add_regressor(i)
  return ProphetModel

In [ ]:
ProphetModel.fit(train)

## Forecasting MSWG

In [ ]:
future=ProphetModel.make_future_dataframe(periods=7, freq = 'Y') #Forecasting 7 years of MSWG from 2019

In [ ]:

future.head(5)

In [ ]:
forecast=ProphetModel.predict(future)

In [ ]:
forecast.tail()

In [ ]:
forecast[['ds','yhat','yhat_lower','yhat_upper']]

In [ ]:
ProphetModel.plot(forecast)

In [ ]:
plot_plotly(ProphetModel,forecast)

In [ ]:
plot_components_plotly(ProphetModel, forecast)

## Evaluating the model

In [ ]:
Predictions=forecast.iloc[-2:]['yhat']

In [ ]:
from statsmodels.tools.eval_measures import rmse,rmspe,meanabs
print("Mean Absolute Error between actual and  predicted values: ",meanabs(Predictions,test['y']))
print("Root Mean Squared Error between actual and  predicted values: ",rmse(Predictions,test['y']))
print("Root Mean Squared Percentage Error between actual and  predicted values: ",rmspe(Predictions,test['y']))
print("Mean Value of Test Dataset:", test['y'].mean())

In [ ]:
from sklearn.metrics import mean_absolute_percentage_error
print("Mean Absolute Percentage Error between actual and  predicted values: ",mean_absolute_percentage_error(test['y'],Predictions))

More Plots

In [ ]:

forecast_data_orig = forecast # make sure we save the original forecast data
forecast_data_orig['yhat'] = np.exp(forecast_data_orig['yhat'])
forecast_data_orig['yhat_lower'] = np.exp(forecast_data_orig['yhat_lower'])
forecast_data_orig['yhat_upper'] = np.exp(forecast_data_orig['yhat_upper'])

ProphetModel.plot(forecast_data_orig)